<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Customers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 list-group">
            <div class="list-group-item">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" ng-model="searchCustomer">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="searchCustomer = ''">Clear</button>
                    </span>
                </div>
            </div>
            <div ng-repeat="cust in customers.list | filter: searchCustomer: name | orderBy: 'name'" class="customer list-group-item" ng-class="{active: $parent.newCustomer.id == cust.id}" ng-click="editCustomer(cust)">
                {{cust.name}}
            </div>
            <div class="list-group-item add-customer" ng-class="{active: !isEditing}" ng-click="addCustomer()">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
        <div class="col-sm-8">
            <form ng-submit="save(newCustomer)">
                <div class="form-group">
                    <input type="text" placeholder="Name" class="form-control" ng-model="newCustomer.name">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="City" class="form-control" ng-model="newCustomer.city">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Id" class="form-control" ng-model="newCustomer.id">
                </div>
                <button type="submit" class="btn btn-primary pull-right">Save</button>
                <button type="button" ng-click="delete(newCustomer.id)" class="btn pull-left" ng-class="{'btn-danger': isEditing, 'btn-warning': !isEditing}">{{ clearText() }}</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
