<div class="container">
    <div class="row" id="mainVideo">
        <div class="main-video-wrapper">
            <div class="main-video">
                <iframe ng-src="{{getTrustedUrl(mainVideo.url)}}"></iframe>
            </div>
            <h2>{{mainVideo.title}}</h2>
        </div>
    </div>
    <div class="row" id="videoList">
        <div class="col-md-3 video-thumb" ng-repeat="video in videos" ng-click="$parent.mainVideo = video" ng-hide="$parent.mainVideo == video">
            <iframe ng-src="{{getTrustedUrl(video.url)}}" width="" height=""></iframe>
            <h3>{{video.title}}</h3>
        </div>
    </div>
</div>
